<?xml version="1.0"?>
<configuration>
	<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup>
	<appSettings>
		<!--The Platform values will be Windows,WPF,ASP.NET,ASP.NET MVC,JavaScript and FileFormats..-->
		<add key="Platform" value="Windows"/>
	</appSettings>
</configuration>
