<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=busbuddy.db" providerName="Microsoft.Data.Sqlite" />
    <!-- For SQL Server, use the following connection string instead -->
    <!-- <add name="DefaultConnection" connectionString="Data Source=(local);Initial Catalog=BusBuddyDB;Integrated Security=True;TrustServerCertificate=True" providerName="Microsoft.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <add key="DatabaseProvider" value="Sqlite" />
  </appSettings>
</configuration>