<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!--The Platform values will be WindowsForms,WPF-->
		<add key="Platform" value="Windows"/>
	</appSettings>
	<startup useLegacyV2RuntimeActivationPolicy="true"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup></configuration>
