<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=$(ProjectDir)test_busbuddy.db" providerName="Microsoft.Data.Sqlite" />
    <!-- <add name="DefaultConnection" connectionString="Server=localhost;Database=BusBuddy;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True" providerName="Microsoft.Data.SqlClient" /> -->
    <!-- For SQL Server testing, uncomment the line below and comment the SQLite line above -->
    <!-- <add name="DefaultConnection" connectionString="Server=localhost;Database=BusBuddyTest;Trusted_Connection=True;TrustServerCertificate=True" providerName="Microsoft.Data.SqlClient" /> -->
  </connectionStrings>
  <appSettings>
    <add key="DatabaseProvider" value="Sqlite" />
  </appSettings>
</configuration>
