<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Server=ST-LPTP9-23\SQLEXPRESS01;Database=BusBuddyTestDb;Trusted_Connection=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DatabaseProvider" value="SqlServer" />
  </appSettings>
</configuration>
